@use "./variables.scss" as *;
@use "themes";

// put your custom CSS here!

// REMOVES DATE METADATA FROM HOMEPAGE
body[data-slug = "index"] .content-meta {
  display: none;
}

// HIDES THE TITLE FONTMATTER BUT KEEPS IT IN TAB TEXT
body[data-slug="index"] .article-title {
  display: none;
}

/* MOBILE TOP TITLE */

@media screen and (max-width: 800px) {
  .page-title {
    display: block !important;
    font-size: 1.2rem !important;
    font-weight: 800 !important;
    margin-top: 0.4rem !important;
    margin-bottom: 0.3rem !important;
    padding-left: 0.3rem !important;
  }

  .left.sidebar {
    gap: 0.2rem;
  }
}